.mainlist {
    display: flex;
    gap: 32px;
    margin-left: 450px;
}

.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    transition: color var(--transition-duration);
}
.link:hover,
.link:focus {
    color: var(--green-hover);
}

.active {
    color: var(--grey-green);
}