.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.mainImage {
    border-radius: 17px;
    width: 638px;
    height: 505px;
    object-fit: cover;
}

.thumbnailList {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.thumbnail {
    border-radius: 16px;
    width: 135px;
    height: 144px;
    object-fit: cover;
    cursor: pointer;
    outline: 4px solid transparent;
    outline-offset: -4px; 
    transition: transform var(--transition-duration), outline-color var(--transition-duration);
}

.thumbnail:hover {
  transform: scale(1.05);
}
.active {
  outline-color: var(--green-hover);
}

