.card {
    display: flex;
    padding: 24px;
    gap:24px;
}

.cardImg {
    border-radius: 16px;
    width: 219px;
    height: 240px;
    object-fit: cover;
}

.content {
  flex: 1;
  gap:24px;

}

.namePrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
  overflow: hidden;

}