/*=========VARIABLES==========*/
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Manrope", sans-serif;
    --main: rgb(16 24 40);
	--text: rgb(71 84 103);
	--white: rgb(255 255 255);
	--inputs: rgb(247 247 247);
	--badges: rgb(242 244 247);
	--gray: rgb(108 113 123);
	--gray-light: rgb(218 221 225);
	--button: rgb(228 72 72);
	--button-hover: rgb(216 67 67);
	--rating: rgb(255 197 49);
	--grey-green: rgb(130 155 145);
	--olive: rgb(240 241 241);
	--green-hover: rgb(109 123 117);
    --transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
/*=========/VARIABLES==========*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--primary-font);
    color: var(--main);
    background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;  
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 64px;
}

.loadingOverlay {
    position: absolute;
    inset: 0;
    background: rgba(255,255,255,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}